################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/API_REST_NET_SP/packages/EntityFramework.6.4.4
